
.youtube-video
{
    max-width: 760px;
    height: 30%;
    width: 90%;
    max-height:413px;
    margin: 0px auto;
    position: absolute;
    top: 350px;
    
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


.text-start
{
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.text-start > section
{
    padding: 2%;
}