
/*.youtube-video
{
    max-width: 760px;
    height: 20%;
    width: 90%;
    max-height:413px;
}*/
.video
{
    height: 250px;
    width: 550px;
}
header  h1,header  h2
{
    font-size: 32px;
    font-weight: bold;
}

.text-start
{
}
.text-start > section
{
    padding: 2%;
}